<!DOCTYPE html>
<html>
	<head>
		<title>🧭 Compass | SudoX</title>
		<!-- jQuery -->
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<!-- SocketIO -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<!-- Google Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<!-- Main Javascript -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.js') }}"></script>
		<!-- Main CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<!-- Splashscreen -->
		<div id="splashscreen">
			<p class="enter">🧭 Compass</p>
		</div>
		<!-- Main Content -->
		<div class="main-container">
			<div class="section-header">
				<h3 class="section-title">Mission Overview</h3>
			</div>
			<div id="info-tab" class="float-div">
				<h3 class="float-div-title">Vitals</h3>
				<hr class="hr-rule">
				<p class="float-info">Active Handsets: <b id="handsets">0</b></p>
				<p class="float-info">Requests for Ration: <b id="ration">0</b></p>
				<p class="float-info">Requests for Shelter: <b id="shelter">0</b></p>
				<p class="float-info">Requests for Medical Aid: <b id="aid">0</b></p>
			</div>
			<iframe id="iframe-content" class="main-iframe"></iframe>
			<div class="section-header">
				<h3 class="section-title">Before & After Analysis</h3>
			</div>
			<div class="juxtapose" data-startingposition="50%">
				<img src="{{ url_for('static', filename='img/2013.jpg') }}" data-label="Before Flood"/>
				<img src="{{ url_for('static', filename='img/2014.jpg') }}" data-label="After Flood"/>
			</div>
			<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
			<link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
			<!-- Cache issues -->
			<script>
    			var frameElement = document.getElementById("iframe-content");
    			frameElement.contentWindow.location.href = frameElement.src;
			</script>
		</div>	
	</body>
</html>